<!-- Saved Articles Page-->
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">SAVED ARTICLES</h1>
      <p class="lead">YOUR SAVED ARTICLES</p>
    </div>
  </div>
  <div class="col-md-12">
    {{#if article}}
    {{#each article}}
    <div class="card">
      <h3 class="card-header">{{this.title}}</h3>
      <div class="row">
        <div class="col-lg-8 card-block">
          <p class="card-text">{{this.summary}}</p>
          <a href="http://www.bbc.com{{this.link}}" target="_blank" class="card-link">Read more</a>
        </div>
        <div class="col-lg-4 align-self-end text-right">
          <button class="btn btn-danger m-2 btn-remove" data-id="{{this._id}}">Remove</button>
          <button class="btn btn-success m-2 btn-view-notes" data-id="{{this._id}}">View Comments</button>
        </div>
      </div>
    </div>
    {{/each}}
    {{else}}
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>You have no saved articles.</h4>
      </div>
    </div>
    {{/if}}
  </div>
</div>

{{!-- for modal --}}
<div class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>